:root{
    --main-color:#943EFB;
    --sub-color01:#4769E8;
    --sub-color02:#6F6FEE;
    --accent-color:#FFFA76;
    --text-color:#333333;
}

/* 共通装飾 */
html{
    width: 100%;
    font-size: 62.5%;
    font-family: 'Noto Sans JP', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    color: var(--text-color);
}

body{
    width: 100%;
    font-size: 100%;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.pc{
    display: inherit;
}

.sp{
    display: none;
}

@media screen and (max-width:767px) {
    .pc{
        display: none;
    }
    
    .sp{
        display: inherit;
    }
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8rem;
}

a{
    text-decoration: none;
    color: var(--text-color);
    transition: opacity .2s;
}

img, picture{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li{
    list-style: none;
}

/* ボタン */


/* ヘッダー */
